@import url('../../assets/styles/main.css');

.trivia-container{
    flex: 1;
    height: 100%;
    padding: 20px;
}

.trivia-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.trivia-content .question {
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 20px;
}

.trivia-content .timer-question{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.timer-question .timer{
    flex: 1;
    font-size: medium;
    color: var(--danger);
}

.timer-question .nb-question{
    font-size: small;
    font-weight: bold;
    color: var(--black);
}

.trivia-content .answers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.answers .answer {
    padding: 15px;
    text-align: center;
    background: var(--light-yellow);
    border: none;
    border-radius: 5px;
    font-size: medium;
    cursor: pointer;
    transition: background 0.3s ease;
}

.answer:hover {
    background: var(--dark-yellow);
}


/* answer check animations */
.answer.correct {
    animation: correct 2s ease forwards;
}

@keyframes correct {

    0%,
    22%,
    42% {
        background: var(--correct-answer-check-1);
    }

    20%,
    40%,
    60% {
        background: var(--correct-answer-check-2);
    }

    62%,
    100% {
        background: var(--success);
    }
}

.answer.wrong {
    animation: wrong 2s ease forwards;
}

@keyframes wrong {

    0%,
    22%,
    42% {
        background: var(--wrong-answer-check-1);
    }

    20%,
    40%,
    60% {
        background: var(--wrong-answer-check-2);
    }

    62%,
    100% {
        background: var(--danger);
    }
}