:root {
    --white: #fff;
    --black: black;

    --light-black: #646464;
    --light-yellow: #FFE873;
    --yellow: #FFD43B;
    --yark-yellow: #EDB000;
    --light-blue: #8ED5FA;
    --blue: #1C78C0;
    --dark-blue: #170C6A;
    --red: #E31837;
    --green: #0FB255;

    --correct-answer-check-1: #4FFFB0;
    --correct-answer-check-2: #17B169;

    --wrong-answer-check-1: #fd5c63;
    --wrong-answer-check-2: #D30044;

    --success: var(--green);
    --danger: var(--red);

    --bg-blue-linear: radial-gradient(circle farthest-corner at 74.2% 50.9%, rgba(14, 72, 222, 1) 5.2%, rgba(3, 22, 65, 1) 75.3%);
    --bg-yellow-linear: radial-gradient(circle farthest-corner at 10% 20%, rgba(249, 151, 63, 1) 0%, rgba(249, 210, 45, 1) 90%);
    --bg-red-linear: linear-gradient(147deg, #e0455f 0%, #44000b 74%);
    --bg-green-linear: linear-gradient(75.9deg, rgba(101, 253, 77, 1) 7.9%, rgba(2, 190, 93, 1) 97.7%);

    --bg-mixed-sky-gray: linear-gradient(to right, #928DAB, #00d2ff);
    --bg-mixed-yellow-orange: linear-gradient(to right, #f12711, #f5af19);

    --border-level-1: 2px solid var(--white);
    --border-level-2: 4px solid var(--white);
}

.app {
    height: 100vh;
    display: flex;
    background: var(--bg-mixed-yellow-orange);
    color: var(--white);
}

.main {
    width: 75%;
    height: 100%;
    background:
        linear-gradient(rgba(237, 176, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('./assets/images/question-quiz-bg.png') center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    color: var(--white);
}

.main-start {
    width: 100%;
    background: url('./assets/images/start-question-quiz-bg.png') center;
}

.top {
    height: 50%;
    position: relative;
}

.timer {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: var(--border-level-2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    bottom: 10px;
    left: 80px;
}

.bottom {
    height: 50%;
}

.trivia {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.question {
    cursor: help;
    width: 80%;
    background: var(--bg-yellow-linear);
    border: var(--border-level-1);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    font-size: 20px;
}

.answers {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.answer {
    cursor: pointer;
    width: 40%;
    padding: 10px;
    background: var(--bg-mixed-yellow-orange);
    border: var(--border-level-1);
    border-radius: 15px;
    font-size: 20px;
    font-weight: 300;
    margin: 0 10px 20px 10px;
}

.answers:hover :not(.answer:hover) {
    opacity: 0.5;
}

.answer:hover,
.answer.active {
    transform: scale(1.04);
    background: var(--bg-yellow-linear);
    font-weight: 500;
}

/* answer check animations */
.answer.correct {
    animation: correct 3s ease forwards;
}

@keyframes correct {

    0%,
    22%,
    42% {
        background: var(--coorect-answer-check-1);
    }

    20%,
    40%,
    60% {
        background: var(--coorect-answer-check-2);
    }

    62%,
    100% {
        background: var(--success);
    }
}

.answer.wrong {
    animation: wrong 3s ease forwards;
}

@keyframes wrong {

    0%,
    22%,
    42% {
        background: var(--wrong-answer-check-1);
    }

    20%,
    40%,
    60% {
        background: var(--wrong-answer-check-2);
    }

    62%,
    100% {
        background: var(--danger);
    }
}

.pyramid {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.levelList {
    list-style: none;
    width: 100%;
    padding: 20px;
}

.levelListItem {
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
}

.levelListItem.active {
    background: var(--bg-yellow-linear);
}

.levelListItemNumber {
    font-size: 18px;
    font-weight: 100;
    width: 30%;
}

.levelListItemContent {
    font-size: 20px;
    font-weight: 300;
}

.endText {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.start {
    width: 280px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
}

.startInput {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    padding: 8px;
    text-align: start;
    font-size: 14px;
}

.startInput:focus {
    outline: none;
}

.startButton {
    cursor: pointer;
    width: 100%;
    height: 50px;
    background: var(--bg-yellow-linear);
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    color: var(--white);
}

.startButton:hover {
    background: var(--green);
}