@import url('colors.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}


.app {
    height: 100vh;
    display: flex;
    background: var(--bg-mixed-yellow-orange);
    color: var(--white);
}

.main {
    width: 75%;
    height: 100%;
    background:
        linear-gradient(rgba(237, 176, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('../assets/images/question-quiz-bg.png') center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    color: var(--white);
}

.top {
    height: 50%;
    position: relative;
}

.timer {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: var(--border-level-2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    bottom: 10px;
    left: 80px;
}

.bottom {
    height: 50%;
}

.trivia {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.question {
    cursor: help;
    width: 80%;
    background: var(--bg-yellow-linear);
    border: var(--border-level-1);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    font-size: 20px;
}

.answers {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.answer {
    cursor: pointer;
    width: 40%;
    padding: 10px;
    background: var(--bg-mixed-yellow-orange);
    border: var(--border-level-1);
    border-radius: 15px;
    font-size: 20px;
    font-weight: 300;
    margin: 0 10px 20px 10px;
}

.answers:hover :not(.answer:hover) {
    opacity: 0.5;
}

.answer:hover,
.answer.active {
    transform: scale(1.04);
    background: var(--bg-yellow-linear);
    font-weight: 500;
}

/* answer check animations */
.answer.correct {
    animation: correct 3s ease forwards;
}

@keyframes correct {

    0%,
    22%,
    42% {
        background: var(--coorect-answer-check-1);
    }

    20%,
    40%,
    60% {
        background: var(--coorect-answer-check-2);
    }

    62%,
    100% {
        background: var(--success);
    }
}

.answer.wrong {
    animation: wrong 3s ease forwards;
}

@keyframes wrong {

    0%,
    22%,
    42% {
        background: var(--wrong-answer-check-1);
    }

    20%,
    40%,
    60% {
        background: var(--wrong-answer-check-2);
    }

    62%,
    100% {
        background: var(--danger);
    }
}

.pyramid {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.levelList {
    list-style: none;
    width: 100%;
    padding: 20px;
}

.levelListItem {
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
}

.levelListItem.active {
    background: var(--bg-yellow-linear);
}

.levelListItemNumber {
    font-size: 18px;
    font-weight: 100;
    width: 30%;
}

.levelListItemContent {
    font-size: 20px;
    font-weight: 300;
}

.endText {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
