:root {
    --white: #fff;
    --black: black;

    --light-black: #646464;
    --light-yellow: #FFE873;
    --yellow: #FFD43B;
    --yark-yellow: #EDB000;
    --light-blue: #8ED5FA;
    --blue: #1C78C0;
    --dark-blue: #170C6A;
    --red: #E31837;
    --green: #0FB255;

    --correct-answer-check-1: #4FFFB0;
    --correct-answer-check-2: #17B169;

    --wrong-answer-check-1: #fd5c63;
    --wrong-answer-check-2: #D30044;

    --success: var(--green);
    --danger: var(--red);

    --bg-blue-linear: radial-gradient(circle farthest-corner at 74.2% 50.9%, rgba(14, 72, 222, 1) 5.2%, rgba(3, 22, 65, 1) 75.3%);
    --bg-yellow-linear: radial-gradient(circle farthest-corner at 10% 20%, rgba(249, 151, 63, 1) 0%, rgba(249, 210, 45, 1) 90%);
    --bg-red-linear: linear-gradient(147deg, #e0455f 0%, #44000b 74%);
    --bg-green-linear: linear-gradient(75.9deg, rgba(101, 253, 77, 1) 7.9%, rgba(2, 190, 93, 1) 97.7%);

    --bg-mixed-sky-gray: linear-gradient(to right, #928DAB, #00d2ff);
    --bg-mixed-yellow-orange: linear-gradient(to right, #f12711, #f5af19);

    --border-level-1: 2px solid var(--white);
    --border-level-2: 4px solid var(--white);

    --bg-box-shadow: rgba(67, 83, 171, 0.79);
}
